<a href="https://colab.research.google.com/github/nurfnick/Operations_Research/blob/main/gatherDataFromWiki.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Dataset From Wikipedia

Let's load the same wiki page.

In [17]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/100_metres_at_the_Olympics')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")

## Tables Mean Data for Processing and Visualization!

In [18]:
len(html_soup.find_all('table'))

27

We see here that there are 27 tables stored in a list!  Let's get one of them by class.  There are also sometimes **ids** and a grab bag of otherways to grab different parts of the html.  Use your developer tools to examine your particular website!

In [20]:


tables = html_soup.find_all('table',class_="wikitable sortable")

Here I grabbed the first table, there were 3 that had the *class* of "wikitable sortable".  Next I grabbed all the links.  The table was **HUGE** when I printed everything,  To get the table in a nice form, I'll simply pass it to pandas using the `read_html` command.  I did need to convert the soup back into a string and then I only selected the first table to call `df`.

In [24]:

df = pa.read_html(str(tables))[7]
df['Gender'] = pa.Series(['Men' for x in range(len(df.index))])

In [26]:
df1 = pa.read_html(str(tables))[8]

df1['Gender'] = pa.Series(['Women' for x in range(len(df.index))])
df1

,Time,Athlete,Nation,Games,Round,Date,Gender
0,13.0,Anni Holdmann,Germany (GER),1928,Heat 1,1928-07-30,Women
1,12.8,Erna Steinberg,Germany (GER),1928,Heat 2,1928-07-30,Women
2,12.8,Kinue Hitomi,Japan (JPN),1928,Heat 3,1928-07-30,Women
3,12.8,Leni Junker,Germany (GER),1928,Heat 4,1928-07-30,Women
4,12.8,Leni Schmidt,Germany (GER),1928,Heat 6,1928-07-30,Women
5,12.6,Fanny Rosenfeld,Canada (CAN),1928,Heat 7,1928-07-30,Women
6,12.6,Ethel Smith,Canada (CAN),1928,Heat 9,1928-07-30,Women
7,12.4,Fanny Rosenfeld,Canada (CAN),1928,Semi-final 1,1928-07-30,Women
8,12.4,Betty Robinson,United States (USA),1928,Semi-final 2,1928-07-30,Women
9,12.2 WR,Betty Robinson,United States (USA),1928,Final,1928-07-31,Women
10,12.2,Marie Dollinger,Germany (GER),1932,Heat 1,1932-08-01,Women
11,11.9 WR,Stanisława Walasiewicz,Poland (POL),1932,Heat 2,1932-08-01,Women
12,11.9 =WR,Stanisława Walasiewicz,Poland (POL),1932,Semi-final 2,1932-08-01,Women
13,11.9 =WR,Stanisława Walasiewicz,Poland (POL),1932,Final,1932-08-02,Women
14,11.9,Fanny Blankers-Koen,Netherlands (NED),1948,Final,1948-08-02,Women
15,11.9,Catherine Hardy,United States (USA),1952,Heat 7,1952-07-21,Women
16,11.6,Marjorie Jackson,Australia (AUS),1952,Heat 8,1952-07-21,Women
17,11.6,Marjorie Jackson,Australia (AUS),1952,Quarter-final 1,1952-07-21,Women
18,11.5 =WR,Marjorie Jackson,Australia (AUS),1952,Semi-final 1,1952-07-22,Women
19,11.5 =WR,Marjorie Jackson,Australia (AUS),1952,Final,1952-07-22,Women
20,11.5,Marlene Mathews,Australia (AUS),1956,Heat 2,1956-11-24,Women
21,11.4,Betty Cuthbert,Australia (AUS),1956,Heat 3,1956-11-24,Women
22,11.3 =WR,Wilma Rudolph,United States (USA),1960,Semi-final 1,1960-09-02,Women
23,11.2 =WR,Wyomia Tyus,United States (USA),1964,Quarter-final 1,1964-10-15,Women
24,11.2 A,Wyomia Tyus,United States (USA),1968,Heat 1,1968-10-14,Women
25,11.2 A,Margaret Bailes,United States (USA),1968,Heat 2,1968-10-14,Women
26,11.2 A,Barbara Ferrell,United States (USA),1968,Heat 6,1968-10-14,Women
27,11.1 A =WR,Barbara Ferrell,United States (USA),1968,Quarter-final 1,1968-10-14,Women
28,11.1 A =WR,Irena Szewińska-Kirszenstein,Poland (POL),1968,Quarter-final 4,1968-10-14,Women
29,11.0 A WR,Wyomia Tyus,United States (USA),1968,Final,1968-10-15,Women
30,11.07 WR,Renate Stecher,East Germany (GDR),1972,Quarter-final 1,1972-09-01,Women
31,11.05,Annegret Richter,West Germany (FRG),1976,Quarter-final 1,1976-07-24,Women
32,11.01 WR,Annegret Richter,West Germany (FRG),1976,Semi-final 1,1976-07-25,Women
33,10.97,Evelyn Ashford,United States (USA),1984,Final,1984-08-05,Women
34,10.88,Florence Griffith Joyner,United States (USA),1988,Heat 7,1988-09-24,Women
35,10.88,Evelyn Ashford,United States (USA),1988,Quarter-final 2,1988-09-24,Women
36,10.62,Florence Griffith Joyner,United States (USA),1988,Quarter-final 3,1988-09-24,Women
37,10.61,Elaine Thompson-Herah,Jamaica (JAM),2021,Final,2021-07-31,Women

In [27]:
dfCombined = pa.concat([df,df1],ignore_index = True)

dfCombined

,Time,Athlete,Nation,Games,Round,Date,Gender
0,12.2,Francis Lane,United States (USA),1896,Heat 1,1896-04-06,Men
1,12.2,Thomas Curtis,United States (USA),1896,Heat 2,1896-04-06,Men
2,11.8,Tom Burke,United States (USA),1896,Heat 3,1896-04-06,Men
3,11.4,Arthur Duffey,United States (USA),1900,Heat 1,1900-06-14,Men
4,11.4,Walter Tewksbury,United States (USA),1900,Heat 2,1900-06-14,Men
...,...,...,...,...,...,...,...
71,10.97,Evelyn Ashford,United States (USA),1984,Final,1984-08-05,Women
72,10.88,Florence Griffith Joyner,United States (USA),1988,Heat 7,1988-09-24,Women
73,10.88,Evelyn Ashford,United States (USA),1988,Quarter-final 2,1988-09-24,Women
74,10.62,Florence Griffith Joyner,United States (USA),1988,Quarter-final 3,1988-09-24,Women
75,10.61,Elaine Thompson-Herah,Jamaica (JAM),2021,Final,2021-07-31,Women

I can see there are some issues with "Time".  I'll use `regrex`

In [40]:
dfCombined.iloc[5,0]

'10.8 =WR'

In [41]:
import re

re.sub(r"[^0-9.]","",dfCombined.iloc[5,0])

'10.8'

In [43]:
removeTheCitation = lambda s: re.sub(r"[^0-9.]","",s)

dfCombined["Time"] = dfCombined["Time"].apply(lambda s: removeTheCitation(s))

In [46]:
dfCombined.to_csv('100mOlympicRecords.csv',index = False) #https://raw.githubusercontent.com/nurfnick/Data_Sets_For_Stats/master/CuratedDataSets/100mOlympicRecords.csv

In [45]:
dfCombined.head()

,Time,Athlete,Nation,Games,Round,Date,Gender
0,12.2,Francis Lane,United States (USA),1896,Heat 1,1896-04-06,Men
1,12.2,Thomas Curtis,United States (USA),1896,Heat 2,1896-04-06,Men
2,11.8,Tom Burke,United States (USA),1896,Heat 3,1896-04-06,Men
3,11.4,Arthur Duffey,United States (USA),1900,Heat 1,1900-06-14,Men
4,11.4,Walter Tewksbury,United States (USA),1900,Heat 2,1900-06-14,Men